<h1>Artists Overview Page</h1>

<ul>
<% @artists.each do |artist| %>
  <li><p><%= link_to artist.name, artist_path(artist.id) %></p>
  <div><%= image_tag artist.image.thumbnail %></div></li>
<% end %>
</ul>

<%= render 'artist' %>
